.Media {
  width: 100%;
  height: calc(100% - 80px);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Meida-main-wrap {
}

.Media-main {
  width: 640px;
  height: 360px;
  background: white;
  z-index: 100;
}

.Media-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 640px;
  padding: 4px;
  font-size: 24px;
  font-weight: 100;
  box-sizing: border-box;
  color: white;
}

.Media-header-page {
}

.Media-canvas {

}

.Media-video {
  display: none;
}

.Media-nocontent {
  width: 640px;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}
