.App {
  width: 100%;
  height: 100%;
  background: #3e414c;
  position: relative;
}

.App-menu-wrap {
  position: absolute;
  bottom: 130px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.App-menu {
  position: relative;
  width: 640px;
}
